
.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	width: 960px;
	min-width: 960px;
}
#mainArea{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

#footerArea {
	margin-top: 1mm;
}

#footerTabs > * {
	width: 958px;
}

body{
	margin: auto;
	padding-top: 1cm;
	font-family: Arial;
	display:flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}

#canvasWrapper{
	margin: 0;
	padding: 0;
	width : 16cm;
	height: 100%;
}

#calculationOptions > table {
	border-spacing: 0;
	line-height: 0;
}

.sideThumbnailScrolling{
	min-height: 3cm;
	overflow-x: scroll;
	border-radius: 2mm;
	padding: 1mm;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
}

.toolArea {
	margin-left: 1mm;
}

div.toolWrapper{
	margin: 0 0 1mm 0;
	padding: 1mm;
	line-height: 1.4em;
	border-radius: 1mm;
	border: 1px solid #ccc;
	background-color: #f8fafd;
}


a.button {
	padding: 2mm;
}
.button{
	cursor:pointer;
	white-space: nowrap;
	display: inline-block;
	border-radius: .5mm;
	padding: 1mm;
	background-color: #FFF;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	text-decoration: none;
	color: #000;
	text-align: center;
}

#popupWrapper > .button {
	margin: 0mm 1mm;
}

.button:active{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.multiplierButton{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	padding: 2px 6px;
	
}

div.previewButton{
	display: inline-block;
	margin: 1mm;
	position:relative;
	background-image: repeating-linear-gradient(45deg, #eee 0, #eee 1px, transparent 0, transparent 50%);
	background-size: 6px 6px;
	background-color: #ccc;
	height: 96px;
}

#settings > div input{
	float: right;
	width: 50%;
}

input.error{
	background-color: #FAA;
}
h1{
	display: block;
	height: 1.2em;
	line-height: 1.2em;
	font-size: 90%;
	text-align: center;
	padding: .1em 1em;
}
.toolWrapper >h1{
	margin-top:0;
}

#colourControl > h1{
	margin-bottom: 1mm;
}

h2{
	text-align:center;
	border-bottom: 1px solid #aaa;
	margin:0;
	padding-bottom:2mm;
}
#colourControl > input{
	float: right;
	width: 50%;
}

.colourAdjuster{
	width: 100%;
}

.colourText{
	width: 4em;
	border-radius: 1mm;
	border: 1px solid #aaa;
	margin: 0;
	height: 1.4em;
}

td.shortTD{
	width: 4em;
}

div.deleteIcon{
	display: inline-block;
	border-radius: 0.1em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 1em;
	background-color: #C22;
	box-shadow: rgba(255, 255, 255, 0.8) 0px 2px 4px 0 inset, rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.22) 0px 2px 4px;
	line-height: 1.5em;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	position:absolute;
	cursor: not-allowed;
}

#exports{
	text-align: center;
}

#exports > div{
	margin: 0.5mm;
	padding: 1mm 2mm;
}

#popupWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	display:none;
	background-color: rgba(22,22,22,0.5);
	text-align: center;
	z-index: 100;
}

div.popupContent {
	background:#FFF; 
	border-radius: 5mm;
	margin: auto;
	margin-bottom: 5mm;
	min-width: 320px; 
	max-width: 80%;
	position:relative; 
	margin-top: 5%;
	padding:30px; 
	text-align: left;
	max-width: 20cm;
	box-shadow: rgb(0, 0, 0, 0.35) 0px 2mm 2mm;

}

div.codeBox{
	overflow-wrap: break-word;
	border: 1px solid #888;
	padding: 3mm;
	margin: auto;
	border-radius: 2mm;
	font-family: monospace;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px inset;
	width: 80%;
	min-height: 3cm;
	font-size: 13px;
}
.downloadImageForm{
	margin: auto;
	padding: 5mm;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5mm;
	align-items: center;
}

.downloadImageForm > div {
	display:inline-block;
}

.previewWrapper{
	text-align:center;
	min-height: 280px;
	position:relative;
}
.previewWrapper > canvas {
	border: 1px solid #aaa;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

span.fieldLabel{
	color: #AAA;
	padding-left: 2em;

}
.doubleInputRow > div {
	width: 40%;
	display: inline-block;
	padding: 0 4.5%;
}
.doubleInputRow > div > input {
	float: right
}

.tabinator {
	display: grid;
	grid-template-columns: 1fr;
	margin-top:1.5em;
	background-color: #FFF;
	border-top:1px solid #000;
}

.tabinator > * {
	grid-row-start: 1;
	grid-column-start: 1;
	background-color: inherit;
	z-index: 1;
	border-radius: inherit;
	border-color: inherit;
}

.tabinator > .active {
	z-index: 2;
}

.tabinator > * > .tab {
	height: 1.5em;
	border: 1px solid;
	border-width: 1px 1px 0 1px;
	border-radius: 1mm 1mm 0 0;
	border-color: inherit;
	display: inline-block;
	position: absolute;
	margin-top: -webkit-calc(-1.5em - 1px);
	margin-top: calc(-1.5em - 1px);

	background-color: inherit;
	padding: 0 .25em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.tabinator > .active > .tab {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.tabinator > :not(.active){
	filter: contrast(70%);
}

/* customizing */
.tabinator {
	position: relative;
	background-color: #FFF;
	border: 1px solid #AAA;
	border-radius: .1em;
}

#paletteTabs.tabinator table{
	width: 100%;
}

.popupErrorFeedback {
	height: 0.5em;
}

.importCodeInput{
	width: 100%;
	min-height: 3cm;
}

.cancelButton {
	background: radial-gradient(circle at top left, rgb(255 155 150) 40%, rgba(230, 44, 11, 1) 100%);
	box-shadow: inset 5px 5px 8px 0px rgba(255, 255, 255, .5), inset -5px -5px 8px 0px rgba(0, 0, 0, 0.5);
	float: right;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	border-radius: 50%;
	width: 1lh;
	height: 1lh;
	display: inline-block;
	text-align:center;
	font-size: 130%;
}

.infoButton {
	float: right;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	border: 2px solid;
	border-color: #666;
	border-radius: 50%;
	width: 1lh;
	height: 1lh;
	display: inline-block;
	text-align:center;
	font-size: 140%;
}

.loadingSpan{
	margin-left: 1ch;
	font-weight: normal;
	color: #666;
}

textarea {
	display: block;
	width: 100%;
	min-height: 20lh;
}

